a:visited {color: white}
a:link {color: white}

.topCenter {
	position: absolute;
	z-index: 1;
	margin: 0 auto;
	left: 50%;
	top: 20px;
	background-color:rgba(0, 0, 0, 0.2);
	color: white;
	}

.topRight {
	position: absolute;
	z-index: 1;
	margin: 0 auto;
	right: 20px;
	top: 20px;
	background-color:rgba(0, 0, 0, 0.2);
	color: white;
	}

.topLeft {
	position: absolute;
	z-index: 1;
	margin: 0 auto;
	left: 20px;
	top: 20px;
	background-color:rgba(0, 0, 0, 0.2);
	color: white;
	}

.bottomRight {
	position: absolute;
	z-index: 1;
	margin: 0 auto;
	right: 20px;
	bottom: 20px;
	background-color:rgba(0, 0, 0, 0.2);
	color: white;
	}

.bottomLeft {
	position: absolute;
	z-index: 1;
	margin: 0 auto;
	left: 20px;
	bottom: 20px;
	background-color:rgba(0, 0, 0, 0.2);
	color: white;
	}

table {
	border-spacing: 10px;
	border-collapse: separate;
	}

td { 
	padding: 10px;
	}
